@model Manufacturers_Test.Models.ManufacturerViewModel

@{
    ViewBag.Title = "Details";
}

<h2> @Html.DisplayFor(modelItem => Model.ManufacturerName) </h2>
<table class="table">
    <tr>
        <th> ProductId </th>
        <th> ProductName </th>
    </tr>
    @foreach (var item in Model.products)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.ProductId) </td>
            <td> @Html.DisplayFor(modelItem => item.ProductName) </td>
        </tr>
    }
</table>
